# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# YouTube API (SENSÍVEL - Recomendado não subir para repo público)
backend/*.json
backend/*.pickle
backend/datasets/
